;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

init-author-name=Felicio Mununga
; list only primary dependencies by default
depth=0
init-version=0.1.0
init-license=UNLICENSED
progress=false
//registry.npmjs.org/:_authToken=${NPM_AUTH_TOKEN}
scope=felicio
